@model EscolaDeVoce.Services.ViewModel.CourseViewModel

@{
    var windowName = ViewBag.windowName;
    var buttonName = ViewBag.buttonName;
}

<section id="" class="container">

    <div class="course-content slick-slider-container">
        <div class="courses-control slide-control">
            <img class="prev-arrow" src="~/images/site/previous-active.png" />
            <img class="next-arrow" src="~/images/site/next-active.png" />
        </div>

        <h2 class="sub-title">Aulas desse curso: </h2>
        
        <div class="courses is-slick-slider" id="courses">

            @foreach(EscolaDeVoce.Services.ViewModel.VideoViewModel v in Model.videos){
                
                    <div class="course">
                        @if(Model.free || v.freeVideo){
                            @if(v.isFavorite){
                                <div class="course-icon"><span class="icon icons-heart-favorite"></span></div>
                            }else{
                                <div class="course-icon"><span class="icon icons-heart-white-course" onclick="escoladevoce.courses.addToFavorites('@v.Id')"></span></div>
                            }
                        }
                        
                        <div class="course-image">
                            <img src="@v.thumb" />
                        </div>
                        <div class="course-info">
                            <p class="course-title">
                                @if(User.Identity.IsAuthenticated){
                                    string link = "#";
                                    if(Model.free || v.freeVideo){
                                        link = "/cursos/sala/@v.courseId/video/" + @v.Id;
                                    }
                                    <a href="@link">@v.name</a>
                                }else{
                                    <span onclick="escoladevoce.auth.openSignupForm()" style="cursor: pointer">@v.name</span>
                                }
                            </p> <!-- /course-title -->
                            <div class="course-stars">
                                
                            </div><!-- /course-stars -->
                        </div><!-- /course-info -->
                    </div><!-- /course -->
                <!--</a>-->
            }

        </div><!-- /courses -->

        <br/>
        <br/>
        
        @if(!string.IsNullOrEmpty(buttonName)){
            <p class="text-right">
                @if(User.Identity.IsAuthenticated){
                    <a class="escola-btn" href="/cursos">@buttonName</a>
                }else{
                    <a class="escola-btn" onclick="escoladevoce.auth.openSignupForm()">@buttonName</a>
                }
            </p>
        }
    </div><!-- /course-content -->

</section><!-- /#destak-courses -->