@model EscolaDeVoce.Services.ViewModel.EscoleteTalkViewModel

@{
    ViewData["Title"] = "Embaixadoras";
}

@section scripts{
    <script>
         tinymce.init({
            selector: '#newMessage',
            menubar: false,
            plugins: [
                'emoticons',
                "placeholder"
            ],
            toolbar: [
                'bold italic underline emoticons'
            ],
            mentions_fetch: function (query, success) {
                // Fake a server call by using a setTimeout
                alert("searching");
                setTimeout(function() {
                console.log('Search query:', query.term);

                success([
                    {id: 'johndoe', name: 'johndoe', fullName: 'John Doe'},
                    {id: 'janedoe', name: 'janedoe', fullName: 'Jane Doe'}
                ]);
                }, 0);
            }
        });
    </script>
}

@await Component.InvokeAsync("Header")

<section id="papo-de-escolete">

    <div class="container">
        <h5>Papo de Escolete > @Model.title</h5>
        <p>
            Essa é a nossa rede! As conversas sobre a essência, o DNA da Escola de Você, estão aqui. A gente espera você.
        </p>
        <br>
        <br>
    </div>

    <div class="container">

        <div class="papo">

            <div class="papo-item">
                
                <div class="papo-item-left">
                    <div class="papo-autor-photo">
                        <img src="~/images/phot-papo.png" alt="">
                    </div>
                    <div class="papo-autor-info">
                        <p>Raquel Vieira</p>
                        <p>São Paulo/SP</p>
                    </div>
                </div>

                <div class="papo-item-right">
                    <div class="texto">
                        <h2 class="sub-title">@Model.title</h2>
                        @Html.Raw(Model.message);
                    </div>
                </div>
            </div>
        </div>


        <div class="qtd-comments">
            @Model.comments.Count @(@Model.comments.Count > 1 ? "Comentários": "Comentário")
        </div>

        <div class="papo">

            <div class="papo-item">
                
                <div class="papo-item-left">
                    <div class="papo-autor-photo">
                        <img src="~/images/phot-papo.png" alt="">
                    </div>
                    <div class="papo-autor-info">
                        <p>Raquel Vieira</p>
                        <p>São Paulo/SP</p>
                    </div>
                </div>

                <div class="papo-item-right">
                    <div class="message-box">
                        <textarea name="newMessage" placeholder="Escreva um comentário e participe do bate-papo :)" id="newMessage"></textarea>
                    </div>
                    <p class="text-right">
                        <br>
                        <button onclick="escoladevoce.papodeescolete.saveComment('@Model.Id')" class="escola-btn escola-btn-primary">enviar</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="papo">
            @foreach(var c in Model.comments){
                var profilePhoto = "/images/no-image.png";
                if(!string.IsNullOrEmpty(c.user.image)) {
                    profilePhoto = "/images/" + c.user.image;
                }
                var name = "";
                if(!string.IsNullOrEmpty(c.user.person.name)){
                    name = c.user.person.name;
                }
                <div class="papo-item">
                
                    <div class="papo-item-left">
                        <div class="papo-autor-photo">
                            <img src="@profilePhoto" style="width: 58px" alt="">
                        </div>
                        <div class="papo-autor-info">
                            <p>@name</p>
                            <p>São Paulo/SP</p>
                        </div>
                    </div>

                    <div class="papo-item-right">
                        <div class="texto">
                            
                            <p>
                                @Html.Raw(c.message)
                            </p>
                        
                        </div>
                    </div>
                </div>
            } 

        </div>

    </div>
</section>