@model EscolaDeVoce.Services.ViewModel.EscoleteTalkViewModel

@{
    ViewData["Title"] = "Embaixadoras";
}

@await Component.InvokeAsync("Header")

<section id="papo-de-escolete">

    <div class="container">
        <h5>Papo de Escolete > @Model.title</h5>
        <p>
            Essa é a nossa rede! As conversas sobre a essência, o DNA da Escola de Você, estão aqui. A gente espera você.
        </p>
        <br>
        <br>
    </div>

    <div class="container">

        <div class="papo">

            <div class="papo-item">
                
                <div class="papo-item-left">
                    <div class="papo-autor-photo">
                        <img src="~/images/phot-papo.png" alt="">
                    </div>
                    <div class="papo-autor-info">
                        <p>Raquel Vieira</p>
                        <p>São Paulo/SP</p>
                    </div>
                </div>

                <div class="papo-item-right">
                    <div class="texto">
                        <h2 class="sub-title">@Model.title</h2>
                        @Html.Raw(Model.message);
                    </div>
                </div>
            </div>
        </div>


        <div class="qtd-comments">
            @Model.comments.Count @(@Model.comments.Count > 1 ? "Comentários": "Comentário")
        </div>

        <div class="papo">
            @foreach(var c in Model.comments){
                <div class="papo-item">
                
                    <div class="papo-item-left">
                        <div class="papo-autor-photo">
                            <img src="~/images/phot-papo.png" alt="">
                        </div>
                        <div class="papo-autor-info">
                            <p>Jessica Ferraz</p>
                            <p>São Paulo/SP</p>
                        </div>
                    </div>

                    <div class="papo-item-right">
                        <div class="texto">
                            
                            <p>
                                @c.message
                            </p>
                        
                        </div>
                    </div>
                </div>
            } 

        </div>

    </div>
</section>