@model List<EscolaDeVoce.Services.ViewModel.VideoViewModel>

@{
    var windowName = ViewBag.windowName;
    var buttonName = ViewBag.buttonName;
}

@if(Model != null && Model.Count > 0){
<section id="" class="container">

    <div class="course-content">
        
        <div class="courses row" id="courses">

            @foreach(EscolaDeVoce.Services.ViewModel.VideoViewModel v in Model){
                    <div class="course col-md-4">
                        <!--<div class="course-icon"><span class="icon icons-small-lock"></span></div>-->
                        <!--<div class="course-overlay"></div>-->
                        <div class="course-image">
                            <div id="@(v.Id)player"></div>
                            <script samba-player-api="player" type="text/javascript" src="http://player.sambatech.com.br/v3/samba.player.api.js"></script>
                            <script>
                                var player = new SambaPlayer("@(v.Id)player", { //player é o ID do elemento html que ele vai inserir o iframe
                                    height: 232,
                                    width: 360,
                                    ph: "3b8e50510d562d8d8b101c66f59bf625",//Player Hash do projeto
                                    m: "@v.sambatech_id",//MidiaID
                                    playerParams: { //Veja a lista de Parâmetros suportados
                                        enableShare: true,
                                        wideScreen: true
                                    },
                                    events: { //Funcoes que escutam os eventos do player
                                        "onMediaVie": function(){
                                            
                                        },
                                        "onLoad": function(){}, //Sendo que eventListener deve ser uma função já presente na página
                                        "onStart": function(){},
                                        "onFinish": function(){
                                            escoladevoce.auth.openSignupForm()
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <div class="course-info">
                            <p class="course-title">
                                @if(User.Identity.IsAuthenticated){
                                    <a href="/cursos/detalhes/@c.Id">@c.name</a>
                                }else{
                                    <span onclick="escoladevoce.auth.openSignupForm()" style="cursor: pointer">@c.name</span>
                                }
                            </p> <!-- /course-title -->
                            <div class="course-stars">
                                
                            </div><!-- /course-stars -->
                        </div><!-- /course-info -->
                    </div><!-- /course -->
                <!--</a>-->
            }

        </div><!-- /courses -->
        
    </div><!-- /course-content -->

</section><!-- /#destak-courses -->
}