@model EscolaDeVoce.Services.ViewModel.CourseViewModel

@{
    ViewData["Title"] = "Cursos";
    var courseImage = "http://escola-back.azurewebsites.net/images/specialists/" + Model.image;
    if(string.IsNullOrEmpty(Model.image)){
        courseImage = Model.videos.FirstOrDefault().thumb;
    }
}

@section facebookMeta{
    <meta property="og:locale" content="pt_BR">
    <!--<meta property="og:url" content="http://www.meusite.com.br/ola-mundo">-->
    <meta property="og:title" content="@Model.name">
    <meta property="og:site_name" content="Escola de Você">
    <meta property="og:description" content="@Html.Raw(Model.description)">
    <meta property="og:image" content="@courseImage">
    <meta property="og:image:type" content="image/jpeg">
}

@await Component.InvokeAsync("Header")

<section id="course-info">
    <div class="container">
        <br>
        <br>
        Cursos -> @Model.name
        <br>
        <br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="subsection sub-title">@Model.name</h2>
                <div class="course-hate">
                    <span class="icon icons-little-star"></span>
                    <span class="icon icons-little-star"></span>
                    <span class="icon icons-little-star"></span>
                    <span class="icon icons-little-star"></span>
                    <span class="icon icons-little-star"></span>
                    <span class="icon icons-little-facebook" onclick="escoladevoce.facebook.shareLink(location.href)"></span>
                    <span class="icon icons-little-share"></span>
                </div>

                <div>
                    <p>
                        <strong>@Model.views ESCOLETES JÁ FIZERAM</strong>
                    </p>
                    <p>
                        @Html.Raw(Model.description)
                    </p>
                </div>
                <br>
                <div>
                    @if(@Model.free){
                        <a href="/cursos/sala/@Model.Id/video/@Model.videos.FirstOrDefault().Id" class="escola-btn escola-btn-primary">Começar</a>
                    }else{
                        <a class="escola-btn escola-btn-primary">Comprar</a>
                    }
                </div>
            </div>

            <br>
            <br>

            <div class="col-md-7">
                <div><img src="@courseImage" class="img-responsive"></div>
                <p><strong>Duração: </strong><span style="color: #484848">1h30</span></p>
            </div>
        </div>
    </div>
</section>

<br>
<br>

@Html.Partial("_CourseVideos", @Model)